In [10]:
import numpy as np
stu_indexes= np.arange(1,11)
stu_indexes

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [11]:
stu_marks = np.random.randint(40,100,size=(10,5))

In [13]:
for stu_index,stu_mark in zip(stu_indexes,stu_marks):
    print(f"Student{stu_index}:Marks {stu_mark}")

Student1:Marks [61 94 80 46 44]
Student2:Marks [48 64 59 50 41]
Student3:Marks [98 55 80 68 80]
Student4:Marks [56 78 64 66 81]
Student5:Marks [57 44 92 86 84]
Student6:Marks [76 59 74 77 93]
Student7:Marks [67 58 54 57 70]
Student8:Marks [41 88 50 75 40]
Student9:Marks [63 70 96 46 66]
Student10:Marks [43 81 73 60 72]

In [14]:
total_marks =np.sum(stu_marks,axis =1)
for stu_index, total_mark in zip(stu_indexes,total_marks):
    print(f"Student {stu_index}: TotalMarks = {total_mark}")

Student 1: TotalMarks = 325
Student 2: TotalMarks = 262
Student 3: TotalMarks = 381
Student 4: TotalMarks = 345
Student 5: TotalMarks = 363
Student 6: TotalMarks = 379
Student 7: TotalMarks = 306
Student 8: TotalMarks = 294
Student 9: TotalMarks = 341
Student 10: TotalMarks = 329